################################################################################
# Visual Studio
################################################################################

.vs/
.vscode/

################################################################################
# Build folders (MOST IMPORTANT)
################################################################################

bin/
obj/

################################################################################
# .NET Core
################################################################################

*.user
*.suo
*.cache
*.dll
*.exe

################################################################################
# Logs
################################################################################

*.log

################################################################################
# OS files
################################################################################

.DS_Store
Thumbs.db